<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

</head>


<body>
  <main>

    <h3>单向数据绑定</h3>
    <div id="app1">
      {{message}}
    </div>

    <h3>v-bind demo</h3>
    <div id="app2">
      <span v-bind:class="message">
        悬停
      </span>
    </div>

    <h3>条件</h3>
    <div id="app3">

      <p v-if="seen">
        现在你看到我了
      </p>
    </div>

    <h3>Loop</h3>
    <div id="app4">
      <ul>
        <li v-for="todo in todos">
          {{todo.text}}
        </li>
      </ul>
    </div>


    <h3>处理用户输入</h3>
    <div id="app5">
      <p>{{message}}</p>
      <button v-on:click="revertMessage">逆转消息</button>

    </div>


    <h3>双向绑定 v-model</h3>
    <div id="app6">
      <p>{{message}}</p>

      <input type="text" v-model="message">
    </div>



    <script>

    </script>
    <h3>component sample</h3>
    <ol>
      <todo-item></todo-item>

    </ol>


    <div id="app-7">
      <ol>
        <!--
            现在我们为每个 todo-item 提供 todo 对象
            todo 对象是变量，即其内容可以是动态的。
            我们也需要为每个组件提供一个“key”，稍后再
            作详细解释。
          -->
        <todo-item v-for="item in groceryList" v-bind:todo1="item">
        </todo-item>
      </ol>
    </div>

  </main>


  <script src="./app.js"></script>

</body>


</html>